section.s-cta {
	position: relative;

	height: 475px;
	width: 100%;

	.background {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $color-neutral;
		opacity: .21;

	}

	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba($brand, .8);
		mix-blend-mode: multiply;
	}

	.container {
		height: 100%;

		@include flexbox();
		@include flex-flow(column nowrap);
		@include justify-content(center);
		@include align-items(center);

		h2 {
			font-size: 1.2em;
			color: $white;
			font-weight: bold;
			margin-bottom: .5em;
		}

		p {
			text-align: center;
			color: $white;
			margin-bottom: 3em;
		}

		@media(min-width: $breakpoint-20) {
			p {
				max-width: 70%;
			}
		}

		@media(min-width: $breakpoint-30) {
			p {
				max-width: 50%;
			}
		}
	}
}
