section.s-news {
	.container {
		.items {
			@include flexbox();
			@include flex-flow(row wrap);
			.item {
				width: 100%;
				text-decoration: none;

				@media(min-width: $breakpoint-20) {
					width: calc(50% - 1em);
				}

				@media(min-width: $breakpoint-30) {
					width: calc(33.33% - 1em);

					&:nth-child(3n+2) {
						margin: 0 1.5em;
					}
				}

				.image {
					height: 260px;
					overflow: hidden;

					img {
						height: auto;
						width: 100%;
						max-width: 100%;
					}
				}
				.content {
					padding: 2em 0;

					color: $font;
				}

				&:hover {
					.image {
						height: 260px;
						overflow: hidden;

						img {
							@include transform(scale(1.05));
						}
					}
				}
			}
		}
	}
}
