section.s-topbar {
	display: none;

	@media(min-width: $breakpoint-30){
		display: block;
		position: relative;
		top: 0;

		padding-top: 0;
		padding-bottom: 0;

		height: 45px;
		width: 100%;
		background-color: $topbar;
	}

	.container {
		height: 100%;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;

		@include flexbox;
		@include flex-flow(row nowrap);
		@include justify-content(flex-end);
		@include align-items(center);

		.item {
			margin-left: 1em;

			i {
				color: $gray;
				margin-right: .5em;

				&.fa-phone {
					@include transform(scaleX(-1));
				}
			}

			a {
				font-size: .9em;
				text-decoration: none;
				color: $gray;
				@include transition;

				&:hover {
					color: $brand;
					@include transition;
				}
			}
			&.social {
				a {
					i {
						color: $gray;
						@include transition;
						margin-right: .5em;
					}

					&:hover {
						i {
							color: $brand;
							@include transition;
						}
					}
				}
			}
		}
	}
}
