body.page-template-template-trekking-php{
  overflow: hidden;
  header.header.desktop{
    display: none;
  }
  header.header.mobile{
   display: none; 
  }
}
.wrapper{
  background: #004b9b url(../../img/background-trekking.jpg) no-repeat top center;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  font-family: 'ToyBox';
}
h1 {
  font-family: 'ToyBox';
  font-size: 3vw;
  margin: 0;
    padding: 0;
    filter: blur(0px);
}
#machine1{
  height: 140px;
  width: 75%;
}

.slotMachineNoTransition {
  transition: none !important;
}

.slotMachineBlurFast {
  filter: blur(5px);
}

.slotMachineBlurMedium {
  filter: blur(3px);
}

.slotMachineBlurSlow {
  filter: blur(2px);
}

.slotMachineBlurTurtle {
  filter: blur(1px);
}


.machine .row {
  clear: both;
}

.machine .optionContainer {
  color: #004b9b;
  background: #fac012;
  border-radius: 15px;
  margin: 0 auto 56px;
  box-shadow: 5px 0px 25px rgba(0,0,0,0.25);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.machine .option {
  box-sizing: border-box;
  display: block;  
  text-align: center;
  border: 1px solid #fac012;
}
.machine .option.first h1{
  color: #fac012;
}
.machine .option span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.machine .mashupButton {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.machine .mashupButton .button {
  display: inline-block;
  background-color: #004b9b;
  margin: 0 auto;
  padding: 28px 56px;
  font-size: 32px;
  box-shadow: 0 7px 16px black;
  color: white;
  font-family: 'ToyBox';
  border: none;
  border-radius: 10px;
}
.machine .mashupButton .button:focus{
  border: none;
  outline: none;
}
.machine .mashupButton .button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  background-color: #00152c;
}
.machine .mashupButton .button:active {
  transform: translateY(4px);
}
@media only screen and (min-width: 992px) {
  h1 {
    font-family: 'ToyBox';
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  #machine1{
    height: 110px;
    width: 75%;
  }
   .machine .option {
      padding: 20px;
   }
   .machine .optionContainer {
      top: 79%;
   }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-family: 'ToyBox';
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  #machine1{
    height: 110px;
    width: 75%;
  }
   .machine .option {
      padding: 20px;
   }
   .machine .optionContainer {
      top: 79%;
   }

}


@media only screen and (min-width: 1400px) {
  h1 {
    font-family: 'ToyBox';
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  #machine1{
    height: 120px;
    width: 75%;
  }
   .machine .option {
      padding: 20px;
   }
     .machine .optionContainer {
      top: 80%;
   }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-family: 'ToyBox';
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  #machine1{
    height: 130px;
    width: 75%;
  }
   .machine .option {
      padding: 20px;
   }
}

@media only screen and (min-width: 1900px) {
  h1 {
    font-family: 'ToyBox';
    font-size: 3vw;
    margin: 0;
    padding: 0;
  }
  #machine1{
    height: 130px;
    width: 75%;
  }
   .machine .option {
      padding: 20px;
   }
}