@font-face {
    font-family: 'ToyBox';
    src: url('../../fonts/toybox/ToyBox.eot');
    src: url('../../fonts/toybox/ToyBox.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/toybox/ToyBox.woff') format('woff'),
        url('../../fonts/toybox/ToyBox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:
        url('../../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// =========== Layout
section, header, footer {
  overflow: hidden;
}

// Build up your container to get your website centered
.container {
  margin: auto;
  max-width: $max-width;
  padding: $spacing;
  position: relative;




  &.wide {
	max-width: 1340px;
	width: 100%;
  }
  &--full-width {
    max-width: none;
    margin: 0;
  }
}
