header.header {
	position: relative;
	width: 100%;
	z-index: 200;
	overflow: visible;

	&.desktop {
		display: none;
        position: absolute;
        top: 0;
        width: 100%;
		@media(min-width: $breakpoint-30) {
			display: block;
			height: 60px;
		}

		.background {
			position: absolute;
			top: 0;
			right: 0;
		}


		padding: 0;
		@include flexbox;
		@include flex-flow(row nowrap);

		@media(min-width: $breakpoint-20) {
			padding: 0 2.5em;
		}

		.logo {
			position: relative;
			width: 50%;
			height: 115px;
			background-color: white;
			@include flexbox;
			@include align-items(center);
			@include justify-content(flex-start);
			padding: 1em 0;
			z-index: 1000;

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}

		}

		.inner {
			position: relative;
			width: 100%;

			nav.nav-desktop {
                display: none;
				position: relative;
				height: 100%;
                @media(min-width: $breakpoint-30) {
        			display: block;
                }
				div {
					height: 100%;
					> ul {
						@include flexbox;
						@include flex-flow(row nowrap);
						@include justify-content(flex-end);
						@include align-items(center);
						margin: 0;
						padding: 1em 2em;
						height: 100%;
						padding-right: 0;
						list-style-type: none;

						> li {
							position: relative;
							display: inline-block;
							padding: 0.5em 1em;

							a {
								display: inline-block;
								text-decoration: none;
								color: $white;
								font-size: 1.06em;
								@include transition;

								&:hover {
									color: $secondary;
									@include transition;
								}
							}

							&.current_page_item {
								a {
									font-weight: bold;
								}
							}

							&:last-of-type {
								padding-right: 0;
							}

							&.menu-item-has-children {
								padding: 0 1em;
								a {
									padding: .5em 0;
									color: $white;
								}
							}

							ul.sub-menu {
								display: none;
							}

							&:hover {
								ul.sub-menu {
									display: block;
									position: absolute;
									margin: 0;
									list-style-type: none;
									width: 250px;
									background-color: darken($brand, 5%);
									padding: 1em 0;
									box-shadow: $box-shadow-10;
									z-index: 1001;

									border-bottom: 5px solid darken($brand, 10%);

									li {
										padding: 0;
										width: 100%;
										a {
											padding: 1em 1.5em;
											width: 100%;
											color: $white;
											text-shadow: none;
										}

										ul.sub-menu {
											display: none;
										}

										&.menu-item-has-children {
											position: relative;
											&:after {
												content: "\f054";
												font-family: "Font Awesome 5 Free";
												font-weight: 900;
												color: $white;

												position: absolute;
												font-size: .8em;
												right: 1em;
												top: 50%;
												transform: translateY(-50%);
											}
										}

										&:hover {
											background-color: lighten($brand, 10%);
											color: $white;

											ul.sub-menu {
												display: block;
												position: absolute;
												margin: 0;
												right: -250px;
												top: -1em;
												list-style-type: none;
												width: 250px;
												padding: 1em 0;
												background-color: lighten($brand, 10%);
												box-shadow: none;
												color: $white;

												border-bottom: 0px solid #fff;

												li {
													a {
														font-weight: 400;
														color: $white;
														&:hover {
															color: $font;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

		}
	}

	&.mobile {
		display: block;
		background-color: $brand;

		@media(min-width: $breakpoint-30) {
			display: none;
		}
		.container {
			padding: 0;

			.logo {
				position: relative;
				@include flexbox;
				@include align-items(center);
				@include justify-content(flex-start);
				padding-left: 1em;

				img {
					width: auto;
					max-width: 80%;
					height: 33px;
					min-width: 1px;
				}

				&.logo-groot {
					display: none;
					z-index: 1000;
					width: 100%;
					height: 65px;
					background-color: $brand;

					@include justify-content(center);

					&.is-active {
						@include flexbox();
						@include justify-content(flex-start);
					}

					span {
						position: absolute;
						bottom: -40px;
						font-size: .86em;
						text-transform: uppercase;
						color: $white;
						width: 162px;
						left: 0;
					}
				}


				&.logo-klein {
					display: none;
					height: 60px;
					background-color: transparent;

					&.is-active {
						@include flexbox();

						img {
							height: 20px;
						}
					}
				}
			}
		}

		.hamburger {
			position: absolute;
		    z-index: 1000;
		    right: 0;
		    top: 0;
		    display: block;
		    float: right;
		    font-size: 25px;
		    line-height: 20px;
		    padding: 23px 15px;
			width: 130px;
			background: $brand;
			cursor: pointer;

			span {
				position: absolute;
				font-weight: bold;
				font-size: .8em;
				color: $white;
			}

			div {
				@include transition();
				height: 3px;
				width: 30px;
				margin-bottom: 5px;
				background-color: $white;

				@include flexbox;
				@include flex-flow(column nowrap);
				@include justify-content(flex-end);

				margin-left: auto;

				&:nth-child(1) {

				}
				&:nth-child(2) {

				}
				&:nth-child(4) {
					margin-bottom: 0;
				}
			}

			&.is-active {
				// padding: 24px 15px;
				padding-bottom: 31px;

				div {
					@include transition();
					&:nth-child(2) {
						transform: rotate(-45deg) translate(-4px, 5px);
					}
					&:nth-child(3) {
						display: none;
					}
					&:nth-child(4) {
						transform: rotate(45deg) translate(0px, -2px);
					}
				}
			}
		}
	}

	&.scrolled {
		position: fixed;
		top: 0;
		height: 75px;
		background-color: $brand;
		box-shadow: $box-shadow-20;
		@include transition();
		z-index: 999;

		&.mobile{
			height: 70px;
		}

		&.desktop {
			&:before {
				display: none;
			}
		}

	}
}

.nav-overlay {
	position: fixed;
	display: none;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($brand, 1);
	overflow-x: scroll;

	.inner {
		padding-top: 10em;
		height: 100%;

		nav.nav-mobile {
			margin-bottom: 2em;

			ul {
				margin: 0;
				list-style-type: none;
				li {
					padding: 1em 0;
					border-bottom: 1px solid rgba($font, .2);
					a {
						color: $white;;
						text-decoration: none;
						font-size: 1.5em;
						display: inline-block;
						padding: 0 .5em 0 2em;
					}

					&.current_page_item {
						a {
							font-weight: bold;
						}
					}

					&.menu-item-has-children {
						position: relative;

						&:after {
							content: "\f078";
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							color: $white;
							text-align: center;

							position: absolute;
							width: 57px;
							height: 57px;
							font-size: 1em;
							right: 0;
							top: 0;
							background-color: lighten($brand, 10%);
							padding-top: 13px;
						}

						a {

						}

						ul.sub-menu {
							display: none;
							margin-top: 12px;
							padding: 1em 0;
							background-color: lighten($brand, 10%);

							li {
								border: none;
								&:after {
									display: none;
								}
								a {
									border: none;
									padding: 0 2.5em;
									color: $white;
								}

								ul.sub-menu {
									display: none;
									margin-top: 0;
									padding: 0;

									li {
										padding: .5em;
										a {
											position: relative;
											padding-left: 4.5em;

											&:before {
												content: "\f054";
												font-family: "Font Awesome 5 Free";
												font-weight: 900;
												color: $white;
												text-align: center;

												position: absolute;
												font-size: .8em;
												left: 2.5rem;
												top: 50%;
												transform: translateY(-50%);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.socials {
			width: 100%;
			text-align: left;
			margin-bottom: 1.5em;
			z-index: 999;
			padding: 0 2em;

			@media(min-width: $breakpoint-30){
				text-align: right;
				margin-bottom: 0;
			}

			.item {
				display: inline-block;
				a {
					i{
						width: 45px;
						height: 45px;
						color: $white;
						border-radius: 50%;
						text-align: center;
						font-size: 1.5em;
						padding-top: 10px;
						margin-left: .5em;
					}
				}

				&:first-of-type {
					a {
						i{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
