.s-content.loterij{
    .entry-title {
        display: none;
    }
    .price{
        font-family: "toybox";
        .woocommerce-Price-amount.amount{
            font-size: 36px;
            color: $secondary;
        }
    }
    .stock.in-stock{
        display: none;
    }
    .screen-reader-text{
        clip: auto;
        height: auto;
        overflow: hidden;
        position: relative!important;
        width: auto;
        word-wrap: normal!important;
        float: left;
        line-height: 60px;
    }
    .woocommerce{
        div.product{
            form.cart{
                div.quantity{

                }
            }
        }
    }
    .single_add_to_cart_button {
        background-color: $brand !important;
        color: $secondary !important;
        font-family: "toybox";
        border-radius: 10px;
        width: calc(100% - 260px);
        height: 60px;
        text-align: center;
        letter-spacing: 2px;
        &:hover{
            background-color: $secondary !important;
            color: $brand !important;
        }
    }
    form.cart{
        .quantity{
            input{
                border-radius: 10px;
                border: 1px solid #ddd;
                height: 60px;
                margin-left: 15px;
            }
        }
    }
    .posted_in{
        display: none;
    }
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger{
        display: none;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        background-color: #e1ebb8;
        color: #515151;
        border-top: 3px solid #8fae1b;
        list-style: none outside;
        width: auto;
        word-wrap: break-word;
        border-radius: 10px;
    }
    .wc-forward{
        background-color: $brand;
        color: $secondary;
        font-family: "toybox";
        border-radius: 5px;
        letter-spacing: 2px;

        &:hover {
            background-color: $secondary;
            color: $brand ;
        }
    }
    .woocommerce div.product,
    .woocommerce div.product div.summary {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .woocommerce div.product div.images.woocommerce-product-gallery{
         pointer-events: none;
     }
}
.woocommerce-breadcrumb {
    display: none;
}

/* cart */
table.cart-table thead th, thead th{
    background-color: $brand;
}
table.shop_table.shop_table_responsive.cart-table tbody tr:nth-child(2n){
    background-color: #eee;
}
table.shop_table.shop_table_responsive tbody tr:nth-child(2n){
    background-color: $secondary;
}
.checkout-button.button.alt.wc-forward, #place_order{
    font-family: 'Roboto' !important;
    background-color: #84e000;
    color: $brand;
    letter-spacing: 2px;
}
#place_order{
    padding: 30px 60px;
    float: right;
}
.woocommerce-billing-fields__field-wrapper{
    label{
        width: 100%;
        line-height: 60px;
        @media(min-width: $breakpoint-30) {
            width: 40%;
        }
    }
}
.woocommerce form .form-row label{
        line-height: 60px !important;
}
.woocommerce form .form-row-first, .woocommerce-page form .form-row-first,
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last{
    float: none !important;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    width: 100% !important;
}
#billing_address_2_field{
    display: none !important;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods{
    background-color: #eee;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    background-color: white !important;
}
.woocommerce-input-wrapper{
    display: inline-block;
    width: 100%;
    @media(min-width: $breakpoint-30) {
        width: 60%;
    }
}
.woocommerce-additional-fields{
    display: none !important;
}
.woocommerce-account-fields {
    display: none !important;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left :15px;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    line-height: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
} 
