section.s-content {
	.container {
		@include flexbox();
		@include flex-flow(row wrap);

		@media(min-width: $breakpoint-20) {
			@include flex-flow(row nowrap);
		}
        .partaker{
            a{
                @include transition();
                &:hover{
                    text-decoration: none;
                    .partaker-img_container{
                        @include transition();
                        transform: scale(0.9);
                    }
                    .partaker-name{
                        h3{
                            text-decoration: none;
                            color: $secondary;
                        }
                    }
                }
                .partaker-name{
                    h3{
                        font-size: 18px !important;
                    }
                }
                .partaker-img_container{
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    text-align: center;
                    height: 150px;
                    transform: scale(1);
                    @include transition();
                    .partaker-img{
                        width: 150px;
                        margin: 0 auto;
                    }
                }
            }
        }
		.content {
			width: 100%;
			float: left;
			padding-right: 0;

			@media(min-width: $breakpoint-20) {
				padding-right: 1em;
			}
		}

		.sidebar {
			@include flex(0 0 100%);
			float: left;
			padding-top: 1em;
			padding-left: 0;

			@media(min-width: $breakpoint-20) {
				@include flex(0 0 260px);
				padding-left: 1em;
			}

			@media(min-width: $breakpoint-30) {
				@include flex(0 0 340px);
			}

			.image {
				position: relative;
				margin-bottom: 1em;
				img {
					width: 100%;
					height: auto;
				}
			}

			.content {
				position: relative;
				padding: 2.5em 2em;
				background-color: $brand;
				color: $white;
				margin-bottom: 1em;

				p {
					margin-bottom: 2em;
				}

				h3 {
					color: $white;
					font-weight: bold;
					margin-bottom: 1em;
				}
			}

			.video {
				position: relative;
				width: 100%;
				padding-top: 100%;
				margin-bottom: 1em;
				display: inline-block;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

				.overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(0,0,0,.5);

					@include flexbox;
					@include flex-flow(row nowrap);
					@include justify-content(center);
					@include align-items(center);
					@include transition();

					i {
						color: $white;
						font-size: 3em;
						@include transition();
					}
				}

				&:hover {
					.overlay {
						background-color: rgba(0,0,0,.3);
						@include transition();

						i {
							color: $brand;
							@include transition();
						}
					}
				}
			}
		}

		.tarieven {
			background-color: #626262;
			padding: 2em;
			color: $white;

			h3 {
				color: $white;
				font-weight: bold;
			}

			a {
				color: $brand;
			}
		}

		.sharebox {
			width: 100%;
			background-color: rgba(0,0,0,.05);
			padding: 1em 1.5em;
			margin-top: 2em;

			@include flexbox;
			@include flex-flow(row wrap);
			@include align-items(center);

			span {
				margin-right: 1.5em;
				color: $brand;
				font-size: 0.938em;
				font-weight: bold;
				margin-bottom: 1em;

				@media ( min-width: $breakpoint-20) {
					margin-bottom: 0;
				}
			}

			.return {
				color: $brand;
				display: inline-block;
				margin-left: auto;
			}

			ul.social-icons {
				margin: 0;
				list-style-type: none;

				@include flexbox;
				@include flex-flow(row wrap);
				@include align-items(center);

				li.share {
					display: inline-block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					margin-right: 0.5em;
					background-color: $brand;
					margin-bottom: 1em;

					@media ( min-width: $breakpoint-20) {
						margin-bottom: 0;
					}

					a{
						height: 45px;
						display: inline-block;

						i {
							width: 45px;
							height: 45px;
							border-radius: 50%;
							background-color: $brand;
							color: $white;

							position: relative;
							display: inline-block;
							@include transition;

							&:before {
								position: absolute;
								display: block;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}

							&:hover {
								background-color: darken($brand, 10%);
								@include transition;
							}
						}
					}
				}
			}
		}
	}
}
section.thebutton{
    .thebutton_container{
        background-color: #fff6d9;
        border-radius: 10px;
        padding: 60px;
        text-align: center;
        .get_prize{
            background-color: $brand;
            color: $secondary;
            font-family: "ToyBox";
            font-size: 26px;
            border-radius: 10px;
            padding: 40px;
            box-shadow: 0 5px 10px rgba(27,75,144, 0.25);
			a {
				color: $secondary;
				&:hover{
					color:$brand ;
					text-decoration: none;
				}
			}
            .ticket-icon{
                display: inline-block;
                width: 32px;
            }
            &:hover{
				a {
					color:$brand ;
				}
                background-color: $secondary;
                // color:$brand ;
                transform: scale(0.95);
            }
        }
        span{
            display: block;
            width: 100%;
            font-family: "ToyBox";
            color: $brand;
            margin-top: 20px;
            .yellow{
                color: $secondary;
                display: inline;
            }
        }
    }
}
section.explain{
    .logo-mulderij{
        width: 150px;
        float: left;
    }
    .logo-dappr{
        width: 150px;
        float: right;
    }
}
#slider-prijzen{
    width: 100%;
    .slide{
        img{
            width: 100%;
        }
    }
    .slick-dots{
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            margin: 20px 10px;
            &.slick-active{
                button{
                    background-color: white;
                    border: 3px solid $brand;
                }
            }
            button{
                background-color: $brand;
                border-radius: 15px;
                width :15px;
                height: 15px;
                font-size: 0px;
                padding: 0;
                line-height: 15px;
            }
        }
    }
}
