section.s-hero-big {
	$slider-mobile: 515px;
	$slider-tablet: 915px;
	$slider-desktop: 615px;

	height: $slider-mobile;
	padding: 0;
	background-color: $color-neutral;

	@media (min-width: $breakpoint-20) {
		height: $slider-tablet;
	}

	@media (min-width: $breakpoint-30) {
		height: $slider-desktop;
	}

	#slider-hero {
		position: relative;
		height: $slider-mobile;
		visibility: hidden;
		opacity: 0;

		@media (min-width: $breakpoint-20) {
			height: $slider-tablet;
		}

		@media (min-width: $breakpoint-30) {
			height: $slider-desktop;
		}
        .logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transition(all, .2s, ease);
            .logo-img{
                height: 150px;
                @media (min-width: $breakpoint-20) {
        			height: 250px;
        		}
            }
            &.darkHeader{
                position: fixed;
                top: 35px;
                left : 60px;
                z-index: 1000;
                @include transition(all, .2s, ease);
                .logo-img{
                    height: 50px;
                }
            }

        }

		&.slick-initialized {
			visibility: visible;
			opacity: 1;
			@include transition(opacity, 2000ms, ease);
		}

		.slide {
			position: relative;
			height: $slider-mobile;

			background-size: cover;
			background-position: center center;

			@media (min-width: $breakpoint-20) {
				height: $slider-tablet;
			}

			@media (min-width: $breakpoint-30) {
				height: $slider-desktop;
			}

			.container {
				height: 100%;

				@include flexbox();
				@include flex-flow(column nowrap);
				@include justify-content(center);

				.inner {
					position: relative;
					p {
						position: relative;
						background-color: $brand;
						color: $white;
						padding: 2em;
						font-size: .7em;
						font-weight: bold;
						margin: 0;

						@media(min-width: $breakpoint-20){
							width: 80%;
							font-size: .9em;
						}

						@media(min-width: $breakpoint-30){
							width: 50%;
							font-size: 1.1em;
							line-height: 1.5em;
						}

						a {
							position: absolute;
							left: 0;
							bottom: 0;
							transform: translateY(100%);

							@media(min-width: $breakpoint-20){
								left: inherit;
								right: 0;
							}
						}
					}
				}
			}

			&.fallback {
				background-size: cover;
				background-position: center center;
			}
		}
	}

	#hero-dots {
		position: absolute;
		bottom: 1em;
		left: 0;
		ul.slick-dots {
			list-style-type: none;
			margin: 0;
			li {
				display: inline-block;
				margin-right: .5em;
				button {
					width: 16px;
					height: 16px;
					border-radius: 50%;

					background-color: rgba(255,255,255,.5);

					padding: 0;
					font-size: 0;
				}

				&.slick-active {
					button {
						background-color: $white;
					}
				}
			}
		}
	}
}
