section.s-hero {
	position: relative;
	padding: 2em 0;

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color-neutral;

	height: 350px;

	@media(min-width: $breakpoint-20) {
		height: 471px;
	}
    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include transition(all, .2s, ease);
        .logo-img{
            height: 150px;
            @media (min-width: $breakpoint-20) {
                height: 250px;
            }
        }
        &.darkHeader{
            position: fixed;
            top: 35px;
            left : 60px;
            z-index: 1000;
            @include transition(all, .2s, ease);
            .logo-img{
                height: 50px;
            }
        }

    }

	.container {
		position: relative;
		height: 100%;
		padding-bottom: 1em;
		z-index: 2;

		@include flexbox();
		@include flex-flow(column nowrap);
		@include justify-content(center);

		@media(min-width: $breakpoint-40) {
			padding-bottom: 4em;
		}

		h1 {
			color: $white;
		}

		.hero {
			&__subtitle {
				color: $white;
			}

			&__breadcrumbs {
				position: absolute;
				left: 1.2rem;
				bottom: 0em;
				color: $white;
				font-size: .8em;

				@media(min-width: $breakpoint-20) {
					left: 2.5em;
					font-size: 1em;
				}

				i {
					font-size: .8em;
					padding: 0 1em;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		background-color: rgba($brand, .1);
	}
}
